.city-title-box {
    display: flex;
    justify-content: center;
}

.results-box {
    width: 100%;
    background-color: rgb(188,226,194);
}

.results {
    border-radius: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color:rgb(188,226,194);
    box-shadow: none;
    padding: 10px;
}

p {
    text-align: left;
    color: #F26444;
    font-size: 1.5rem;
}

mat-expansion-panel {
    border-radius: 0px;
    padding: 20px;
    background-color: rgb(188,226,194);
    box-shadow: none;
    text-align: center;
}

mat-expansion-panel-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-panel-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    box-shadow: none;
    color: #F26444;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

h2 {
    color: #F26444;
    font-weight: 700;
    font-size: 2rem;
}

@media screen and (max-width: 599px) {
    h1 {
        font-size: 2.5rem;
        padding: 10px;
    }
    
    h2 {
        font-size: 1.5rem;
    }

    .city-title {
        text-align: center;
    }

    p {
        text-align: left;
        font-size: 1rem;
    }

    .pollution {
        text-align: center;
    }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
    .city-title {
        text-align: center;
    }

    p {
        text-align: left;
    }
}

@media screen and (min-width: 960px) and (max-width: 1024px) {
    .results {
        width: 100%;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1919px) {
    .results{
        width: 33%;
    }

    .pollution {
        text-align: center;
    }

    .temp {
        text-align: center;
    }
}

@media screen and (min-width: 1920px) and (max-width: 5000px) {
    .results{
        width: 33%;
    }
}

