<p>map works!</p>
<!--<div id="map" style='height:380px;'></div>-->
<google-map height="500px" width="100%" [zoom]="zoom" [center]="center" [options]="options">
  <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label" [title]="marker.title"
    [options]="marker.options">
  </map-marker>

</google-map>
<div>Latitude: {{display?.lat}}</div>
<div>Longitude: {{display?.lng}}</div>
<!-- Use custom zoom buttons -->
<button (click)="zoomIn()">Zoom in</button>
<button (click)="zoomOut()">Zoom out</button>

<h1>{{results.data.city}}</h1>
