
.form-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
	z-index: 10;
}

mat-form-field {
    color: #F26444;
    margin-right: 50px;
    font-size: 1rem;
    font-weight: 400;
	z-index: 10;
}

::ng-deep .mat-form-field-empty.mat-form-field-label {
    color: #F26444;
}

button {
    font-size: 1rem;
    background-color: #F26444;
    color: white;
    border-radius: 25px;
	z-index: 10;
}

::ng-deep .mat-select-value-text {
    color: #F26444;
}

@media screen and (max-width: 599px) {
    mat-form-field {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    button {
        width: 100%;
    }
}
